<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold" routerLink="/">
      🚚 Delivery System
    </a>

    <div class="navbar-nav ms-auto">

      <a class="nav-link text-white" routerLink="/">
        🏠 Dashboard
      </a>

      <a class="nav-link text-white" routerLink="/orders">
        📦 Orders
      </a>

      <a class="nav-link text-white" routerLink="/create-order">
        ➕ Create Order
      </a>

      <a class="nav-link text-white" routerLink="/tracking">
        🚚 Tracking
      </a>

      <a class="nav-link text-white" routerLink="/notifications">
        🔔 Notifications
      </a>

    </div>

  </div>
</nav>
